Your friend:
 <a href="<%= global.config.currentHostName %>#!users/<%= sender._id || sender %>"><%= sender.firstName || "User" %>
     <%= sender.lastName || "" %>
 </a>
 just joined <a href="<%= global.config.currentHostName %>">Thingle</a>