<a href="<%= global.config.currentHostName %>#!users/<%= sender._id || sender %>">
    <%= sender.firstName ? sender.firstName : "User" %> <%= sender.lastName || "" %>
</a>
 collect your <a href="<%= global.config.currentHostName + "#!things/" + objects.thing._id %>">thingle</a> to
<a href="<%= global.config.currentHostName %>#!decks/<%= objects.deck._id %>">
    "<%= objects.deck.name %>" collection
</a>